.app{
  text-align: center;
  padding: 2rem;
  color: white;
}

.main ul {
  list-style-type: none;
  padding: 0;
}

.main li {
  display: inline;
  margin-right: 20px;
}

.home {
  margin-top: 2rem;
}

.home h1 {
  font-size: 2.5rem;
}

.home p {
  font-size: 1.2rem;
}
